/* --some default styles-- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px 'Montserrat', sans-serif;
}

body{
    background-color: #000;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 3.9375rem;
  padding-right: 5.9375rem;
}

 h1{
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 2rem;
}
button{
  background-color: #FCAF02;
  cursor: pointer;
  border:none;
  text-align: center;
}

.btn-primary {
  width: 323px;
  height: 66px;
  font-weight: 700;
  font-size: 32px;
  border-radius: 500px;
  padding: 0;
}


/* --header-- */

.logo , span{
  font-weight: 700;
  font-size: 32px;
  padding: 0;
}

.logo span{
   text-decoration: underline solid;
}


.navbar {
  position: sticky;
  top: 0;
  background-color: #FCAF02;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a , button{
  text-decoration: none;
  font-weight: 400;
  font-size:28px;
  color: #000;  
  padding: 1.5rem 1.56rem;
}
.nav-links button{
  background: none;
  border: none;
  cursor: pointer;; 
}

/* --Her0 section-- */
.hero-content {
  display: flex;
  padding: 10.875rem 0;
  color: #ffffff;
}

.hero-text {
  flex: 1;
}


.hero-text p {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 3.125rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* --Contact Us */

.contact-us{
    color: #FCAF02;
}

.contact-us div{
    display: flex;
    justify-content: center;
    gap:4.5rem;
    margin-top: 3.125rem;
}
.contact-us input{
    outline: none;
    background-color: #000;
    border: 2px solid #FCAF02;
    width: 100%;
    border-radius: 100px;
    padding: 1.5rem 3.375rem;
    color: #FCAF02;
    font-size: 28px;
    font-weight: 400px;
}
 .contact-us input::placeholder{
    color: #FCAF02;
 }
/* --Analytics Section */

.analytics{
   margin: 5.688rem 0;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #FCAF02;
}

.info-table th,
.info-table td {
  border: 1px solid #FCAF02;
  padding: 2rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.info-table th:nth-child(1){
  width: 10%; 
}

.info-table th:nth-child(2){
  width: 25%; 
}

.info-table th:nth-child(3){
  width: 65%;
}

.info-table tfoot{
    background-color: #FCAF02;
    color: black;
}
.info-table tfoot td {
  border: 2px solid #000;
}

.info-table tfoot td:first-child{
  border-left-color: #FCAF02;
}

.info-table tfoot td:last-child {
  border-right-color: #FCAF02;
}
